<!DOCTYPE html>
<html>
<head>
    <title>Cirrus board</title>
    <meta charset="UTF-8"> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<script type="text/javascript">viewSelectors = {};</script>

<!-- App css side -->
<style type="text/css">
header {
    margin-bottom: 1em;
}

.Actions a {
    cursor: pointer;
}

.breadcrumbs {
    font-size: 1.2em;
}
</style>


<!-- App html side -->
<div id="App">
    <header>
        <connections :items.sync="connections"></connections>
    </header>

    <main class="container-fluid" v-if="connections.length > 0">
        <ul class="breadcrumbs list-inline" v-if="breadcrumbs.length > 1">
            <li v-for="(crumb, index) in breadcrumbs">
                &rsaquo;&nbsp;
                <span v-if="index < breadcrumbs.length-1">
                    <a @click="crumb.select">{{crumb.text}}</a>
                </span>
                <b v-else>{{crumb.text}}</b>
            </li>
        </ul>

        <template v-if="topCrumb">
            <component :is="topCrumb.view" :items="items"></component>
        </template>
    </main>
</div>


<!-- component: connections -->
<template type="text/x-template" id="connections-template">
<div class="connections" :class="{'empty container-fluid':!connections.length}">
    <h3 :class="{'hidden-md hidden-lg':connections.length > 0}">Connections</h3>
    <ul class="list-unstyled">
        <li v-for="connection in connections">
            <div class="Connection" :class="{focused: connection==focusedConnection}">
                <div class="row">
                    <div class="Name col-xs-6">{{connection.name}}</div>
                    <div class="User col-xs-3">
                        <span v-if="connection.auth">as: {{connection.user}}</span>
                        <span v-else><i>not logged in</i></span>
                    </div>
                    <div class="Actions col-xs-3 text-right">
                        <ul class="list-inline">
                            <li>
                                <a @click="addConnection(connection)" title="Duplicate">
                                    <i class="fa fa-clone"></i>
                                </a>
                            </li>
                            <li>
                                <a @click="reAuth(connection)" title="Logout">
                                    <i class="fa fa-user-times"></i>
                                </a>
                            </li>
                            <li>
                                <a @click="removeConnection(connection)" title="Terminate">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <a class="add-button" @click="addConnection()" @submit="alert('sub')">
        <i class="fa fa-plus"></i>
        <span :class="{'hidden-lg': connections.length>0}">Add connection</span>
    </a>
    <dialogue v-if="focusedConnection" @submit="submitConnection()" @cancel="unfocusConnection()">
        <h3 slot="header">Connection</h3>
        <form slot="body">
          <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="focusedConnection_name">Name:</label>
            <div class="col-xs-10">
                <input type="text" v-model="focusedConnection.name" class="form-control" :readOnly="focusedConnection.relogging" id="focusedConnection_name" placeholder="Connection name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="focusedConnection_url">API URL:</label>
            <div class="col-xs-10">
                <input type="text" v-model="focusedConnection.url" class="form-control" :readOnly="focusedConnection.relogging" id="focusedConnection_url" placeholder="API URL">
            </div>
          </div>
          <div v-if="!focusedConnection.auth||focusedConnection.relogging">
              <div class="form-group row">
                <label class="col-xs-2 col-form-label" for="focusedConnection_user">Username:</label>
                <div class="col-xs-10">
                    <input type="text" v-model="focusedConnection.user" class="form-control" id="focusedConnection_user" placeholder="Username">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-2 col-form-label" for="focusedConnection_password">Password:</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control" id="focusedConnection_password" placeholder="Password">
                </div>
              </div>
          </div>
        </form>
      </dialogue>
</div>
</template>
<style>
.Connection {
    font-size: 1.25em;
    padding: 0.25em 1em;
    /* #1234EF http://materialuicolors.co/?utm_source=launchers */
    background-color: #B0BEC5;
    border-bottom: 1px solid #263238;
}
.Connection.focused {
    border-left: 0.25em solid #455A64;
    padding-left: 0.75em;
}
.Connection > .Name {
    font-variant: small-caps;
}
.Connection > .User {
    font-size: 0.8em;
    line-height: 1.75em;
}
.connections .add-button {
    display: block;
    line-height: 1.5em;
    padding: 0.25em;
}
.connections:not(.empty) .add-button {
    margin-top: -1em;
}
</style>
<script type="text/javascript">
Vue.component('connections', {template: '#connections-template', props:["items"],
    data: function() { return {
        focusedConnection: false
    };},
    computed: {
        connections: function() {
            return (this.items||[]).slice();
        }
    },
    methods: {
        addConnection: function(proto) {
            var connection = Object.assign({}, proto, {auth: false});
            this.focusedConnection = connection;

            var connections = this.connections;
            var i = (connections.indexOf(proto) + 1) || connections.length;
            connections.splice(i, 0, connection);

            connection.onCancel = function(c) {
                connections.splice(i, 1);
            };
        },
        reAuth: function(connection) {
            connection.relogging = true;
            connection.onCancel = (function(user){ return function(c){c.user=user}; })(connection.user);
            this.focusedConnection = connection;
        },
        removeConnection: function(connection) {
            this.connections.forEach(function(c){if(c.onCancel)c.onCancel(c)});
            var i = this.connections.indexOf(connection);
            if (i > -1) this.connections.splice(i, 1);
            this.$emit("update:items", this.connections.slice());
        },
        submitConnection: function() {
            var c = this.focusedConnection;

            window.fetch(c.url)
                .then(r => {
                    if (!r.ok) throw new Error("Failed with call to " + c.url);

                    c.auth = "bearer " + c.user + (c.password||"").length;
                    return r.text();
                })
                .then(t => {
                    var d = MockData.connections.filter(mc => mc.name == c.name);
                    c.apps = d&&d[0]? d[0].apps : [];
                    this.$emit("update:items", this.connections.slice());
                })
                .catch(console.error);

            delete c.onCancel;
            this.focusedConnection = false;
        },
        unfocusConnection: function () {
            var c = this.focusedConnection;
            if (c && c.onCancel) {
                c.onCancel(c);
            }
            delete c.onCancel;
            this.focusedConnection = false
        }
    }
});
</script>
<script type="text/javascript">
viewSelectors['connections'] = function(fullPath, selectorName, qualifier) {
    var savedConnections;
    try {
        savedConnections = JSON.parse(localStorage.getItem("connections"));
    } catch (err) {
        savedConnections = {};
    }
    
    var conns = (!qualifier)? Object.values(savedConnections) : qualifier.split(/\s*;\s*/).map(connectionExpression => {
        var p = connectionExpression.extract(/(?:(.*?)=)?(.*)/);
        var c = {};
        
        c.url = p[1];
        if (!c.url) {
            console.error("Connection with no url:", connectionExpression);
            return undefined;
        }

        var savedConnection = savedConnections[c.url];
        if (savedConnection) {
            c = Object.assign(savedConnection, c);
        }

        c.name = p[0] || c.name || c.url.replace(/(?:https?)?(?::\/\/)?([^\/]*).*/, "$1");

        if (!c.apps) {
            var d = MockData.connections.filter(mc => mc.name == c.name);
            c.apps = d&&d[0]? d[0].apps : [];
        }

        savedConnections[c.url] = c;
        localStorage.setItem("connections", JSON.stringify(savedConnections));

        return c;
    });
    console.log("Initialized with connections:", conns);
    return {
        title: "Connections",
        view: 'connections',
        select: function() {
            return conns;
        },
        qualifier: qualifier
    };
}
viewSelectors[''] = viewSelectors['connections'];
</script>
<!-- component; connections -->


<!-- component: dialogue -->
<template type="text/x-template" id="dialogue-template">
  <transition name="dialogue">
    <div id="dialogue">
        <div class="dialogue-mask">
          <div class="dialogue-wrapper">
            <div class="dialogue-container">
              <div class="dialogue-header">
                <slot name="header"></slot>
              </div>

              <div class="dialogue-body">
                <slot name="body"></slot>
              </div>

              <div class="dialogue-footer">
                <slot name="footer">
                    <button type="submit" class="dialogue-button-submit btn btn-primary" @click="$emit('submit')">Submit</button>
                    <button class="dialogue-button-cancel btn btn-secondary" @click="$emit('cancel')">Cancel</button>
                </slot>
              </div>
            </div>
          </div>
        </div>
    </div>
  </transition>
</template>
<style>
.dialogue-mask { position: fixed; z-index: 9998; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .5); display: table; transition: opacity .3s ease; }
.dialogue-wrapper { display: table-cell; vertical-align: middle; }
.dialogue-container { width: 40%; margin: 0px auto; padding: 20px 30px; background-color: #fff; border-radius: 2px; box-shadow: 0 2px 8px rgba(0, 0, 0, .33); transition: all .3s ease; font-family: Helvetica, Arial, sans-serif; }
.dialogue-header h3 { margin-top: 0; color: #42b983; }
.dialogue-body { margin: 20px 0; }
.dialogue-default-button { float: right; }

.dialogue-enter { opacity: 0; }
.dialogue-leave-active { opacity: 0; }
.dialogue-enter .dialogue-container,
.dialogue-leave-active .dialogue-container { -webkit-transform: scale(1.1); transform: scale(1.1); }
</style>
<script type="text/javascript">
Vue.component('dialogue', {template: '#dialogue-template'})
document.addEventListener('keyup', function(e){
    if (e.keyCode==13) { var b = document.querySelector("#dialogue .dialogue-button-submit"); if (b) b.click(); }
    if (e.keyCode==27) { var b = document.querySelector("#dialogue .dialogue-button-cancel"); if (b) b.click(); }
});
</script>
<!-- component; dialogue -->


<!-- component: apps-page -->
<template type="text/x-template" id="apps-page-template">
<div class="Page">
    <h3>Applications</h3>
    <ul class="apps list-unstyled">
        <li v-for="(app, index) in apps" class="App row" :class="{'selected': app.selected}">
            <label class="col-sm-6">
                <span class="Selection"><input type="checkbox" v-model="app.selected" /></span>
                <span class="Name">{{app.name}}</span>
                <span class="Source">({{sourcePath(app)}})</span>
            </label>
            <div class="col-sm-2">
                ({{app.state}})
            </div>
            <div class="col-sm-4">
                <ul class="Actions list-inline">
                    <li v-for="(link, actionIndex) in [
                        {title:'Bindings', action:showEnv},
                        {title:'Routes', action:showEnv},
                        {title:'Environment variables', action:showEnv},
                        {title:'Logs', action:showEnv}
                    ]">
                        <span v-if="app.selected || !someSelected"
                              :class="{'focused': someSelected && actionFocused == actionIndex}"
                              @mouseenter="actionFocused = actionIndex" @mouseleave="actionFocused = -1">
                            <a class="btn" @click="link.action(app)">{{link.title}}</a>
                        </span>
                        <span v-else>
                            <a class="btn disabled">{{link.title}}</a>
                        </span>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
</template>
<style>
.App {
    border-top: 1px dotted gray;
    padding: 0.5em 1em;
    line-height: 2em;
}
.App:last-child {
    border-bottom: 1px dotted gray;
}
.App:not(.selected) label {
    font-weight: normal;
}
.App .Name {
    margin-left: 0.5em;
}
.App .Source {
    font-family: Consolas;
    margin-left: 1em;
}
.App .Actions .focused a.btn {
    text-decoration: underline;
    color: black;
}
</style>
<script type="text/javascript">
Vue.component('apps-page', {template: '#apps-page-template', props:["items"],
    data: function() { return {
        actionFocused: -1
    };},
    computed: {
        apps: function() {
            return (this.items||[]).sort((a,b) => a.name < b.name? -1 : a.name == b.name? 0 : 1);
        },
        someSelected: function() {
            return this.items.some(e=>e.selected);
        }
    },
    methods: {
        sourcePath: function(app) {
            return Naming.toPath(app.source);
        },
        showEnv: function(app) {
            var selected = this.someSelected? this.items.filter(e=>e.selected) : [app];
            Navigation.navigate('envVars', selected, true);
        }
    }
});
</script>
<!-- component; apps-page -->


<!-- component: app-env-page -->
<template type="text/x-template" id="app-env-page-template">
<div class="Page app-env-page">
    <h3>Environment variables</h3>

    <form class="app-env" v-for="(group, groupName) in groupedVars">
        <div>
            <h4 v-if="group.isTheOverlap">Overlapping everywhere</h4>
            <h4 v-else>{{groupName}}</h4>
        </div>
        <ul class="list-group list-group-flush" style="max-width: 50em;">
            <li class="EnvVar form-row row list-group-item" v-for="envVar in group">
                <span class="Name col-xs-5 text-right">
                    <input type="text" v-model="envVar.name" class="form-control" />
                </span>
                <span class="Value col-xs-5">
                    <input type="text" v-model="envVar.value" class="form-control" />
                </span>
                <span class="Actions col-xs-2">
                    <a class="btn" title="Remove"><i class="fa fa-minus"></i></a>
                    <template v-if="group.isTheOverlap">
                        <a class="btn" title="Ungroup"><b>&#8623;</b></a>
                    </template>
                </span>
            </li>
            <li class="add-row row list-group-item">
                <div class="col-xs-2 col-xs-offset-10">
                    <a class="btn" title="Add"><i class="fa fa-plus"></i></a>
                </div>
            </li>
        </ul>
    </form>
</div>
</template>
<style>
.app-env-page h3 {
    margin-bottom: 1.25em;
}
.app-env .list-unstyled li {
    margin: 0.5em 0em;
}
.app-env .add-row {
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom: -1.25em;
    border-bottom-width: 0px;
}
.app-env *[class*='col-'] { padding: 0px 5px; }
</style>
<script type="text/javascript">
viewSelectors['envVars'] = function() {
    return {
        title: "Environment variables",
        view: "app-env-page",
        select: function(app) {
            return Object.entries(app.env).map(entry=>({"name": entry[0], "value": entry[1]}));
        }
    };
};
Vue.component('app-env-page', {template: '#app-env-page-template', props:["items"],
    computed: {
        groupedVars: (function() {
            var eq = (a,b) => (a.name==b.name && a.value==b.value);
            return function() {
                return Grouping.groupWithOverlap(this.items, eq);
            };
        }())
    }
});
</script>
<!-- component; app-env-page -->




<!-- App vue.js side -->
<script type="text/javascript">
var last = function(arr) {return arr && arr.length? arr[arr.length-1] : undefined;};
String.prototype.extract = function(regex, i) { var parts; this.replace(regex, function(){ parts = Array.prototype.slice.call(arguments, 1, -2);}); if (typeof i != 'undefined' && parts) { return parts[i]; } return parts; };

class Navigation {
    static navigate(route, selected, append) {
        var qualifier = selected.map(Naming.toPath).join(";");

        if (!append) {
            return window.location.hash = route + ":" + qualifier;
        }

        var existing = window.location.hash.split("&");
        if (!existing || !existing.length) return route;
        var l = existing.length-1;
        existing[l] = existing[l].replace(/^(.*?)(?::(.*)|$)/, "$1:") + qualifier;
        return window.location.hash = existing.join("&") + "&" + route;
    }
    static route(location, defaultRoute) {
        if (!location) location = decodeURI(window.location.hash).replace(/^#/, '');
        if (!location) location = defaultRoute;
        return this.selectorsFromPath(location);
    }
    static selectorsFromPath(fullPath) {
        var selectors = (fullPath||"").split('&')
            .map((path) => {
                var parts = path.extract(/^(.*?)(?::(.*)|$)/);

                var selFactory = viewSelectors[parts[0]];
                if (!selFactory) return undefined;
                var sel = selFactory(fullPath, parts[0], parts[1]);

                if (!sel) {
                    return sel;
                }
                if (!sel.queryString)
                    sel.queryString = path;
                if (!sel.name)
                    sel.name = parts[0];

                if (parts[1] && !sel.qualifier) {
                    sel.qualifier = parts[1];
                    if (!sel.targets)
                        sel.targets = this.targetsFromPath(sel.qualifier);
                    if (!sel.filter)
                        sel.filter = this.filterFromTargets(sel.targets);
                }

                return sel;
            })
            .filter(e => e && e.select);
        return selectors;
    }
    static targetsFromPath(pathList) {
        var targets = {};
        (pathList||"").split(";").forEach(path => {
            var a = targets;
            var parts = path.split("/");
            for (var i=parts.length-1; i>=0; i--) {
                var names = parts[i];
                var b = (i==0)? true : {};
                names.split(/\s*,\s*/).forEach(name => a[name] = b);
                a = b;
            }
        });
        return targets;
    }
    static filterFromTargets(targets) {
        if (!targets) return e=>true;
        return function(e) {
            var allowed = targets;
            do {
                if (!e.name) return false;
                allowed = allowed[e.name];
                if (!allowed) return false;
                e = e.source;
            } while (typeof allowed == 'object');
            return true;
        };
    }
};

class Naming {
    static toPath(obj) { var path = ""; var o = obj; do { path = (o.name || ""+o) + "/" + path; o = o.source; } while (o); return path.replace(/\/$/, ''); };
    static displayName(pathName, s,e,d) { if (!d) d = "/"; if (!s) s = " ("; if (!e) e = ")"; var parts = pathName.split(d); return parts.length > 1? parts.pop() + s + parts.join(d) + e : pathName; };
    static shortenNames(objMap, shorten) {
        if (!shorten) shorten = this.shortenDisplayName;
        var nicknames = {};
        for (var name in objMap) {
            var nickname = shorten(name, objMap[name])||name;
            (nicknames[nickname] || (nicknames[nickname] = [])).push(name);
        }
        for (var nickname in nicknames) {
            var names = nicknames[nickname];
            if (names.length == 1) {
                var name = names[0];
                var v = objMap[name];
                delete objMap[name];
                objMap[nickname] = v;
            }
        }
        return objMap;
    }
    static shortenDisplayName(name) {
        return name.replace(/\s*\(.*\)/,"");
    }
}

class Grouping {
    static groupBy(arr, key) { return arr.reduce(function(r, x) { var k = key(x); (r[k] = r[k] || []).push(x); return r; }, {}) };
    static overlap(grouped, eq) { if (!eq) eq = function(a,b) {return a==b;}; var categories = Object.keys(grouped); if (!categories.length) return; var topCat = categories.shift(); var candidates = grouped[topCat].slice(); for (var cat of categories) { for (var i=0; i<candidates.length; i++) { var candidate = candidates[i]; if (!grouped[cat].some(function(e){return eq(e, candidate);})) { candidates.splice(i,1); i--; } } } return candidates; };
    static takeOverlap(grouped, eq) {
        if (!eq) eq = (a,b) => a==b;

        var overlapping = this.overlap(grouped, eq);

        for (var k in grouped) {
            var group = grouped[k];
            for (var i=0; i<group.length; i++) {
                var item = group[i];
                if (overlapping.some(e=>eq(e,item))) {
                    group.splice(i,1); i--;
                }
            }
        }

        return overlapping;
    }
    static groupWithOverlap(items, eq, key, withOverlap, sortAll) {
        if (!eq) eq = (a,b) => a==b;
        if (!key) key = e => Naming.displayName(Naming.toPath(e.source));
        if (!withOverlap) withOverlap = (o,g) => {o.isTheOverlap = true; g.overlap = o;};
        if (!sortAll) sortAll = (g) => this.sortKeys(Naming.shortenNames(g), undefined, {overlap: g.overlap});

        var grouped = this.groupBy(items, key);

        if (Object.keys(grouped).length > 1) {
            var overlap = this.takeOverlap(grouped, eq);
            withOverlap(overlap, grouped);
            return sortAll(grouped);
        }

        return grouped;
    }
    static sortKeys(grouped, compare, onto) {
        var sorted = onto||{};
        Object.keys(grouped).sort(compare).forEach(key => sorted[key] = grouped[key]);
        return sorted;
    }
}

MockData = {
    connections: [
        {
            url: "https://api.cloud.com/orgs/123456789/spaces/aa9876543210",
            name: "dev eu",
            user: "A123",
            auth: "bearer aa123456789012345678901234567890",
            apps: [
                {name: "App A1", state: "running", env: {a:1, b:2}},
                {name: "App A2", state: "stopped", env: {b:3, c:4}},
                {name: "App A3", state: "running", env: {c:4, d:5}},
                {name: "App X", state: "running", env: {c:4, d:5}}
            ]
        },
        {
            url: "https://api.cloud.com/orgs/123456789/spaces/bb9876543210",
            name: "test eu",
            user: "A123",
            auth: "bearer bb123456789012345678901234567890",
            apps: [
                {name: "App B1", state: "crashed", env: {A:1, B:2, C:3}},
                {name: "App B2", state: "running", env: {B:2, C:4, A:1}},
                {name: "App B3", state: "running", env: {C:4, D:5}},
                {name: "App X", state: "running", env: {c:4, d:5}}
            ]
        }
    ]
}


var app = new Vue({
  el: '#App',
  data: {
    connections: [],
    selectors: []
  },
  computed: {
    breadcrumbs: function() {
        var $this = this;
        return this.selectors.slice(1).map(function(sel, i) {
            i++;
            var text = sel.title;

            var selected = $this.stackedItems[i];
            if (selected) {
                text += " (" + selected.length + ")";
            }

            var select = function() {
                /*FIXME*/
                window.location.hash = window.location.hash.split("&").slice(0, i+1).join("&");
            };

            return {text: text, select: select};
        });
    },
    topCrumb: function() {
        return last(this.selectors);
    },
    stackedItems: function() {
        var selected = [undefined];
        var stacked = [];
        for (var selector of this.selectors) {
            var newitems = selected.map(function(source) {
                var items = selector.select(source);
                for (var item of items) {
                    item.source=source;
                }
                return items;
            }).reduce((a,b) => a.concat(b), []);
            if (selector.filter)
                newitems = newitems.filter(selector.filter);
            selected = newitems;
            stacked.push(selected);
        }
        return stacked;
    },
    items: function() {
        return last(this.stackedItems);
    }
  },
  methods: {
    route: function() {
        this.selectors = Navigation.route(undefined, 'connections&apps');
        if (this.selectors && this.selectors[0]) {
            this.connections = this.selectors[0].select();
        }
    },
    
    appSelector: function() {
        return {
            title: "Applications",
            view: "apps-page",
            select: function(connection) {
                return connection.apps||[];
            }
        };
    }
  },
  created: function() {
    viewSelectors['apps'] = this.appSelector;

    var update = this.route;

    update();
    window.onhashchange = update;
  }
})
</script>

</html>